body {
  border-top: 5px solid #D6D6D6;
}
.wrapper {
  margin: 0 auto;
}

.container {
  max-width: 1040px;
}

/*--------------------header-------------------*/
.site-branding {
  background-position: left top;
  background-repeat: repeat;
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.site-branding .container {
  padding: 20px 0px 0px;
  position: relative;
  z-index: 9999;
}

.mobile-on .site-branding .navbar-nav {
  margin: 0px;
}

.navbar-header img {
  vertical-align: text-bottom;
  border-radius: 5%;
}

.site-branding .navbar-brand {
  padding: 0px 15px;
  height: 70px;
}

.mobile-on .navbar-collapse {
  border-top: none;
}

.mobile-on ul.nav.navbar-nav li {
  background: #F7F7F7;
  color:#333333;
  font-family: "Arial", sans-serif
}

ul.nav.navbar-nav li:after {
  content: '';
  position: absolute;
  top: 1.9em;
  right: 0;
  height: 1.2em;
  width: 1px;
  background: #c8c2bd;
}

ul.nav.navbar-nav li:last-child:after {
  content: none;
}

.mobile-on ul.nav.navbar-nav li:after {
  content: none;
}

ul.nav.navbar-nav li a {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #998F86;
  text-transform: uppercase;
}

ul.nav.navbar-nav li > a:focus, ul.nav.navbar-nav li > a:hover {
  color: #ED145B;
}

ul.nav.navbar-nav li a.active {
  color: #ED145B;
}

/*----------------District show-----------------*/
ul.list_cat {
  border-bottom: 1px solid rgba(46,44,108,0.3);
  margin-bottom: 1em;
}

.office-loop .item {
  padding: 0.5em;
  text-align: center;
}

.office-loop .item .office-detail {
  border: 1px solid #f0f0f0 !important;
  padding: 8px;
}

.office-list .office-loop .item h3 {
  color: #2E2C6C;
  font-weight: 400;
  margin-top: 1em;
  font-size: 1em;
  border-bottom: 1px solid #998F86;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.office-list .office-loop .item .info {
  float: none;
  width: 100%;
}

.office-list .office-loop .item .info span {
  display: block;
}

.office-list .office-loop .item .info .address {
  color: #575757;
  font-size: 10px;
}

.main-content .description {
  margin-top: 16px;
  margin-bottom: 32px;
}

/*-----------------------footer--------------------*/
.footer {
  background: #2E2C6C;
  border-top: 2px solid #ED145B;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 1em;
}

.footer .container {
  padding-left: 0px;
  padding-right: 0px;
}

.footer .container>* {
  text-align: center;
  margin-bottom: 1em;
}

.footer .logo {
  float: left;
  padding-top: 4px;
  margin: 0 auto 1em;
}

.footer .logo img {
  vertical-align: text-bottom;
  border-radius: 5%;
  width: 98px;
}

.footer .footer-content {
  float: left;
}

.footer .footer-menu ul li {
  display: block;
  float: left;
  font-size: 10px;
  text-transform: uppercase;
  border-right: 1px solid #fff;
}

.footer .footer-menu ul li:last-child {
  border-right: none;
}

.footer .footer-menu ul li a{
  color: white;
  padding: 0 0.5em;
}

.footer .footer-menu ul li a:hover {
  text-decoration: none;
}

.footer .footer-info {
  margin-top: 20px;
}

.footer .footer-info p {
  color: #fff;
  font-size: 11.5px !important;
  padding-left: 11.5px;
  text-align: left; 
}

.footer .social-widget {
  float: right;
}

.footer .social-widget ul li {
  float: left;
  margin: 0px 5px;
}

.footer .social-widget ul li a {
  padding: 0px 6px;
}
